<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="all">
            <directory suffix=".php">./tests/</directory>
            <file>./tests/CleanUp.php</file>
            <exclude>./tests/PluginTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
