body {
    background-color: #f1f1f1;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/* Custom styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 60%; /* Adjust as per your requirement */
    height: 70%; /* Adjust as per your requirement */
    overflow-y: auto; /* Enables vertical scrolling */
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
}

.svg-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.delete-apps {
    color: #e44f4f;
}

.delete-apps:hover {
    color: #b33737;
}

/* Custom Tooltip css */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 9999; /* Set a high z-index to ensure it's above other elements */
    bottom: 150%; /* Position above the text */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(10px); /* Slight upward movement */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Smooth appearance */

}

.tooltip:hover {
    z-index: auto !important;
}

.tooltip .tooltiptext::after {
    z-index: auto;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Creates a small triangle pointing downwards */
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .tooltip .tooltiptext {
        /* Adjust width for smaller screens */
        left: 0%; /* Center the tooltip */
        margin-left: 0; /* Remove negative margin */
        bottom: 120%; /* Adjust position above the text */
    }

    .tooltip .tooltiptext::after {
        left: 10%;
        margin-left: -5px; /* Center the arrow */
    }
}

/* Color Picker */
.color-picker {
    width: 24px;
    height: 24px;
    border: none !important;
    cursor: pointer;
    margin: 0px !important;
    background-color: transparent !important;
}

.image-preview {
    height: 22px;
}

.color-picker-lable {
    margin-left: -3px;
}

.apps-btn {
    float: right
}

/* Custom Copy Button Styles */
.text-area {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.custom-checkbox {
    margin: 0 !important;
}

.copied {
    color: green;
    border-color: green !important;

    &:focus {
        box-shadow: 0 0 0 1px #96cd96 !important;
    }
}

/* Custom Overlay Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* Custom Popup model Styles */
.popup-model {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 50%; /* Adjusted width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 8px; /* Optional: Add rounded corners */
}

.popup-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popup-body {
    flex-grow: 1;
    /*margin-top: 20px;*/
    display: flex;
    flex-direction: column;
}

.popup-body textarea {
    flex-grow: 1;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.close {
    cursor: pointer;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 5px;
    border-radius: 20%;

    &:hover {
        background-color: #f1f1f1;
    }
}

/* General popup styling */
.popup-model {
    width: 30%;
}

.popup-content {
    width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    font-size: 14px;
}

.popup-header h2 {
    font-size: 16px;
    margin: 0;
}

.popup-header .close {
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
}

/* Tabs styling */
.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    font-size: 14px;
}

.tabs .tab {
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    background: #f8f8f8;
    color: #495057;
    transition: all 0.3s;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
    margin-bottom: auto;
}

.tabs .tab:hover {
    background: #e0e0e0;
}

.tabs .tab.active {
    background: #fff;
    border-color: #ccc #ccc transparent;
    color: #000;
}

/* Tab content container */
.tab-content-container {
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    background: #fff;
}

.tab-content {
    display: none;
    font-size: 13px;
    line-height: 1.5;
}

.tab-content.active {
    display: block;
}

/* QR code styling */
.qr-code-container {
    text-align: center;
    margin: 10px 0;
}

.qr-code-container img {
    width: 200px;
    height: 200px;
}

/* Input and textarea styling */
.styled-textbox, .text-area {
    width: 100%;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

textarea.text-area {
    resize: none;
}

/* Buttons styling */
.button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 13px;
    background: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



