body {
    background-color: #f1f1f1;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/* Custom styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 60%; /* Adjust as per your requirement */
    height: 70%; /* Adjust as per your requirement */
    overflow-y: auto; /* Enables vertical scrolling */
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
}

.svg-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.delete-apps {
    color: #e44f4f;
}

.delete-apps:hover {
    color: #b33737;
}

/* Custom Tooltip css */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 9999; /* Set a high z-index to ensure it's above other elements */
    bottom: 150%; /* Position above the text */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(10px); /* Slight upward movement */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Smooth appearance */

}
.tooltip:hover{
    z-index: auto !important;
}
.tooltip .tooltiptext::after {
    z-index: auto;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Creates a small triangle pointing downwards */
}
