body {
    background-color: #f1f1f1;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/* Custom styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 60%; /* Adjust as per your requirement */
    height: 70%; /* Adjust as per your requirement */
    overflow-y: auto; /* Enables vertical scrolling */
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
}

.svg-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.delete-apps {
    color: #e44f4f !important;
}

.delete-apps:hover {
    color: #b33737 !important;
}

/* Custom Tooltip css */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 9999; /* Set a high z-index to ensure it's above other elements */
    bottom: 150%; /* Position above the text */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(10px); /* Slight upward movement */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* Smooth appearance */

}

.tooltip:hover {
    z-index: auto !important;
}

.tooltip .tooltiptext::after {
    z-index: auto;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Creates a small triangle pointing downwards */
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .tooltip .tooltiptext {
        /* Adjust width for smaller screens */
        left: 0%; /* Center the tooltip */
        margin-left: 0; /* Remove negative margin */
        bottom: 120%; /* Adjust position above the text */
    }

    .tooltip .tooltiptext::after {
        left: 10%;
        margin-left: -5px; /* Center the arrow */
    }
}

/* Color Picker */
.color-picker {
    width: 24px;
    height: 24px;
    border: none !important;
    cursor: pointer;
    margin: 0px !important;
    background-color: transparent !important;
}

.image-preview {
    height: 22px;
}

.color-picker-lable {
    margin-left: -3px;
}

.apps-btn {
    float: right
}

/* Custom Copy Button Styles */
.text-area {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.custom-checkbox {
    margin: 0 !important;
}

.copied {
    color: green;
    border-color: green !important;

    &:focus {
        box-shadow: 0 0 0 1px #96cd96 !important;
    }
}

/* Custom Overlay Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* Custom Popup model Styles */
.popup-model {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 50%; /* Adjusted width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add shadow */
    border-radius: 8px; /* Optional: Add rounded corners */
}

.popup-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popup-body {
    flex-grow: 1;
    /*margin-top: 20px;*/
    display: flex;
    flex-direction: column;
}

.popup-body textarea {
    flex-grow: 1;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.close {
    cursor: pointer;
    font-size: 20px;
    background-color: #e1e1e1;
    padding: 5px;
    border-radius: 20%;

    &:hover {
        background-color: #f1f1f1;
    }
}

/*Action icon size*/

.action-icon {
    font-size: 15px;
}

/* Tooltip container */
.action-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.action-tooltip .action-tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Adjust based on position */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Tooltip arrow */
.action-tooltip .action-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Show tooltip on hover */
.action-tooltip:hover .action-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.action-tooltip a {
    color: #62a8ba;

    &:hover {
        color: #0073aa;
    }
}
