html,
body,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul,
body li,
body div,
body blockquote {
    font-family: var(--font-family);
}

.cloak {
    visibility: hidden;
}

body.dom-loaded .cloak {
    visibility: visible;
}

.app__wrapper {
    display: flex;
    min-height: calc(100% - 22px);
    flex-direction: column;
    justify-content: space-between;
}

.section__inner {
    grid-column: 1 / -1;
}

.app {
    padding: 25px;
}

.loading-spinner__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
