.container--wide,
.container {
    width: 100%;
    margin: 0 auto;
    padding: 18px;
    box-sizing: border-box;
}

.container--wide {
    max-width: 1200px;
}

.container {
    max-width: 440px;
}

.container .logo {
    margin: 32px 0;
    width: 100%;
}

.non-selectable {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
