.app-container {
    position: relative; /* Add this to position your icon absolutely within the container */
    /* ... other styles for container ... */
}

.icon-link {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: inline-flex; /* or block, depending on your requirements */
    text-decoration: none; /* optional, removes the underline */
    color: inherit; /* optional, inherits the text color */
}

.sp-icon-view-grid {
    --spectrum-icon-size: 44px; /* Size of the icon */
    color: #ffffff; /* Color of the icon itself */
    background-color: #326A82; /* Background color of the circular shape */
    border-radius: 50%; /* Circular shape */
    padding: 10px; /* Space between the icon and the background */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Shadow effect */
    display: flex; /* Use flex to center the icon */
    justify-content: center; /* Center icon horizontally */
    align-items: center; /* Center icon vertically */
    width: var(--spectrum-icon-size); /* Same as --spectrum-icon-size */
    height: var(--spectrum-icon-size); /* Same as --spectrum-icon-size */
    box-sizing: border-box; /* Include padding and border in the width and height */
    /* Do not include bottom and left properties here */
}

