.login__footer {
    display: flex;
    justify-content: center;
}

.login .logo {
    display: flex;
    justify-content: center;
}

.login sp-textfield {
    width: 100%;
}

.login .logo__image {
    width: 100%;
    max-width: 200px;
}

.logo .logo__image {
    filter: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --dt-label-color: #fff;
        --dt-text-background-color: #292929;
        --dt-text-border-color: #292929;
        --dt-form-text-color: #fff;
    }

    .logo .logo__image {
        filter: invert(1) hue-rotate(180deg);
    }
}
