.login__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login__footer {
    display: flex;
    justify-content: center;
}

.login .logo {
    display: flex;
    justify-content: center;
}

.login .logo__image {
    width: 100%;
    max-width: 200px;
}

.login__background {
    --dt-tile-background-color: hsla(0, 0%, 100%, 1);
}
