.register__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register .logo {
    display: flex;
    justify-content: center;
}

.register sp-textfield {
    width: 100%;
}

.register .logo__image {
    width: 100%;
    max-width: 200px;
}
