.value-content {
    margin-bottom: 20px; /* Add some space below the value content */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styles for the tabs container */
sp-tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
}

/* Styles for each tab */
sp-tab {
    flex: 1;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    margin-bottom: -1px; /* This ensures the tab connects with the border below */
}

/* Remove right border for the last tab */
sp-tab:last-child {
    border-right: none;
}

/* Styles for the active tab */
sp-tab[selected] {
    background-color: #e7e7e7;
    border-bottom: 1px solid white; /* Hide the border for the active tab */
}


.container {
    position: relative;
}

.tab-container {
    position: sticky;
    top: 0;
    background-color: #fff; /* Set your desired background color */
    z-index: 1; /* Adjust the z-index as needed */
}
.border-tab sp-tab{
    border-right: 1px solid #074EE8 !important;
    border-left: 1px solid #074EE8 !important;
    border-top: 1px solid #074EE8 !important;
    border-bottom: 1px solid #074EE8 !important;
    background-color: #fff !important;
    padding: 0px 60px !important;
    color: #074EE8 !important;
    font-size: 12px !important;
}
sp-tabs{
    border-bottom: 0px solid #ccc !important;
}

.tab-container sp-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
@media (min-width: 230px) and (max-width: 950px) {
    .border-tab sp-tab {
        padding: 0px 35px!important;
    }

}
