name: Release

on:
  push:
    tags:
      - 'v*.*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Build project
        run: |
          npm install
          npm run build

      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: "8.1"

      - name: Add Composer Global to PATH
        run: echo "$(composer global config bin-dir --absolute --quiet)" >> $GITHUB_PATH

      - name: Install Scoper
        run: |
          ./bin/setup-scoper.sh

      - name: Install dependencies
        run: composer install --no-dev --no-interaction --ignore-platform-reqs

      - name: Patch Scoper Bug
        run: node patch-scoper-autoload.js

      - name: Package release
        run: |
          mkdir dt-home
          cp -r dt-home.php config dist languages resources routes src vendor vendor-scoped composer.json composer.lock composer.scoped.json composer.scoped.lock LICENSE package.json package-lock.json dt-home/
          zip -r dt-home.zip dt-home

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./dt-home.zip
          asset_name: dt-home.zip
          asset_content_type: application/zip

      - name: Google Chat Notification
        uses: Co-qn/google-chat-notification@releases/v1
        with:
          name: Release
          url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
          status: ${{ job.status }}
        if: always()
